.landing {
  // height: 140px;
  .header {
    text-align: left;
    padding: 40px 0 40px 77px;
    background-color: #292929;

    button {
      border: 1px solid white;
      background-color: transparent;
      color: white;
    font-family: "DM Sans";
    font-size: 32px;
    height: 60px;
    width: 193px;

    }
  }
  article {
    display: flex;
    // align-items: center;
    // justify-content: left;
    .hero_image {
      width: 100%;
      height: 550px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h1 {
      position: absolute;
      color: white;
      // font-family: "DM Sans";
      font-size: 72px;
      width: 490px;
        font-style: normal;
        font-weight: 700;
      text-align: left;
      margin: 109px 0 159px 77px;
      padding: 0;
    }
  }
  form {
    margin: 63px 57px 0 77px;
    text-align: left;
    input {
      width: 100%;
      height: 54px;
      border: 1px solid black;
    }
  }
  section {
    overflow-x: scroll;
  }
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  }

@media (max-width: 834px) {
  .landing {
    width: 100%;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 140px;
      button {
      font-size: 32.94px;
      height: 60px;
      width: 193px;
      }
    }
    article {
      display: flex;
      justify-content: center;
      align-items: center;
      .hero_image {
        width:100%;
        height: 550px;
        // margin: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h1 {
        font-size: 72px;
        width: 58.28%;
        text-align: center;
        margin: auto;
        // margin: 109px 172px 159px 172px;
      }
    }
    form {
      margin: 63px 77px 48px 77px;
      text-align: left;
      font-size: 24px;
      input {
        width: 100%;
        height: 54px;
      }
    }
    section {
      overflow-x: scroll;
    }
  }

}
@media (max-width: 320px) {
  .landing {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 67px;
  
      button {
      font-size: 18.43px;
      height: 33.58px;
      width: 108px;
      }
    }
    article {
      display: flex;
      .hero_image {
        width: 100%;
        height: 257px;
      }
      h1 {
        font-size: 28px;
        width: 273px;
        text-align: center;
        margin: 98px 0 87px 23px;
      }
    }
    form {
      margin: 56px 28px 0 28px;
      text-align: left;
      // width: 100%;

      input {
        width: 100%;
        height: 34px;
      }
    }
    section {
      overflow-x: scroll;
    }
  }
}
